My workflow check.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mvp-research-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "58b64953-477a-47de-8692-e0d696454c01",
      "name": "Webhook",
      "webhookId": "4c079212-c807-4ae9-8424-2834ac23bd6d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { userId, topic, sections = [] } = $json.body;\n\nif (!userId) throw new Error(\"Missing userId\");\nif (!topic) throw new Error(\"Missing topic\");\n\nconst sectionsText = sections.join(\"، \");\n\nconst prompt = `\nأنت باحث أكاديمي متخصص.\n\nاكتب بحثًا علميًا باللغة العربية فقط بعنوان:\n\"${topic}\"\n\nالتزم بالأقسام التالية فقط:\n${sectionsText}\n\nاكتب بأسلوب أكاديمي رسمي بدون HTML أو Markdown.\n`;\n\nreturn {\n  userId,\n  prompt\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "923220af-a515-49c4-be62-618d1855982f",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1856,
        0
      ],
      "id": "0b1e5c97-910a-4eb0-91df-7b9f3fae26b3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle different response structures from AIML API\r\n// Sometimes usage is at $json.usage, sometimes at response level\r\nconst response = $json;\r\nconst usage = response.usage || response.data?.usage || {};\r\n\r\n// Extract token counts with fallbacks and ensure they are numbers\r\nconst inputTokens = Number(usage.prompt_tokens || 0);\r\nconst outputTokens = Number(usage.completion_tokens || 0);\r\nconst totalTokens = Number(usage.total_tokens || inputTokens + outputTokens);\r\n\r\n// Pricing for GPT-5-nano (AIML API)\r\nconst INPUT_PRICE_PER_1M = 0.105;\r\nconst OUTPUT_PRICE_PER_1M = 0.42;\r\nconst USD_TO_SAR = 3.75;\r\nconst MARKUP = 2;\r\n\r\n// Calculate costs\r\nconst inputCostUSD = (inputTokens / 1_000_000) * INPUT_PRICE_PER_1M;\r\nconst outputCostUSD = (outputTokens / 1_000_000) * OUTPUT_PRICE_PER_1M;\r\nconst totalCostUSD = inputCostUSD + outputCostUSD;\r\nlet finalCostSAR = totalCostUSD * USD_TO_SAR * MARKUP;\r\n\r\n// Ensure a minimum charge of 0.01 SAR to avoid 'Invalid amount' error\r\n// This also handles NaN or zero values by setting a base 0.01 fee\r\nif (isNaN(finalCostSAR) || finalCostSAR < 0.01) {\r\n  finalCostSAR = 0.01;\r\n}\r\n\r\n// Extract text content\r\nconst text = response.choices?.[0]?.message?.content || response.text || \"\";\r\n\r\nif (!text) {\r\n  throw new Error(\"No text content found in API response\");\r\n}\r\n\r\nreturn {\r\n  userId: $node[\"Build Prompt\"].json.userId, // Explicitly pass userId\r\n  text: text,\r\n  billing: {\r\n    promptTokens: inputTokens,\r\n    completionTokens: outputTokens,\r\n    totalTokens,\r\n    inputCostUSD,\r\n    outputCostUSD,\r\n    totalCostUSD,\r\n    finalCostSAR,\r\n    currency: \"SAR\",\r\n    markup: MARKUP,\r\n  },\r\n};\r\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        0
      ],
      "id": "74ff5b0d-8ebd-48d9-864b-f11d8828410d",
      "name": "Calculate Cost"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 24846e8f3bce499aaf46ae76bb75f388"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "72a1e289-0f3c-4a31-949a-a0c7baf724c7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prompt = $input.item.json.prompt;\n\nreturn {\n  json: {\n    requestBody: JSON.stringify({\n      model: \"openai/gpt-5-nano-2025-08-07\",\n      messages: [{\n        role: \"user\",\n        content: prompt\n      }],\n      temperature: 0.7,\n      max_tokens: 8000  // ← Changed from 2000 to 8000!\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        0
      ],
      "id": "720c1a18-1482-4157-b088-dcee46f06390",
      "name": "Prepare Request Body"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  success: true,\n  data: {\n    text: $json.text,\n    billing: $json.billing\n  },\n  balance: {\n    before: $json.balance,\n    after: $json.balance - $json.billing.finalCostSAR,\n    currency: \"SAR\"\n  },\n  meta: {\n    generatedAt: new Date().toISOString(),\n    model: \"gpt-4.1-nano\",\n    language: \"ar\",\n    tokensUsed: $json.billing.totalTokens\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        0
      ],
      "id": "5d4feec3-cb29-461d-99f4-8f5ce1e25767",
      "name": "Format Response"
    },
    {
      "parameters": {
        "url": "=https://firebase-api-alpha.vercel.app/api/user/{{$node[\"Calculate Cost\"].json.userId}}/balance",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1040,
        0
      ],
      "id": "878df29c-9f4b-4db7-a83f-6009232b1574",
      "name": "Get User Balance"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Firebase API response\nconst balance = $json.balance;\n\n// Data from Calculate Cost node\nconst research = $node[\"Calculate Cost\"].json;\nconst cost = research.billing.finalCostSAR;\n\nif (balance < cost) {\n  throw new Error(\n    `Insufficient balance: ${balance} SAR < ${cost.toFixed(3)} SAR`\n  );\n}\n\nreturn {\n  ...research,\n  balance\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        0
      ],
      "id": "e9e539cc-db1a-4b4a-a697-2c59015965e2",
      "name": "Check Balance"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firebase-api-alpha.vercel.app/api/user/{{$json.userId}}/deduct-balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "={\n  \"amount\": {{ Number($json.billing.finalCostSAR.toFixed(6)) }}\n}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1456,
        0
      ],
      "id": "5a1b0e9e-b183-4e8c-a69d-7d9d3aec463f",
      "name": "Deduct Balance"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Prepare Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cost": {
      "main": [
        [
          {
            "node": "Get User Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Calculate Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Balance": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "Deduct Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Balance": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e14251fd-0471-409e-b406-f34f6f2d594f",
  "meta": {
    "instanceId": "7ba9cf0b4c17a1ada11373db326a59f871a3ee85280bffd3ce36c5534c0053f2"
  },
  "id": "ZkFlfeRoBo3tpv8B",
  "tags": []
}