My workflow modify.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mvp-research-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "dff6c117-6adc-4f7c-b1d4-1db0a7b5662f",
      "name": "Webhook",
      "webhookId": "4c079212-c807-4ae9-8424-2834ac23bd6d"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const { userId, topic, sections = [] } = $json.body;\n\nif (!userId) throw new Error(\"Missing userId\");\nif (!topic) throw new Error(\"Missing topic\");\n\nconst sectionsText = sections.join(\"، \");\n\nconst prompt = `\nأنت باحث أكاديمي متخصص.\n\nاكتب بحثًا علميًا باللغة العربية فقط بعنوان:\n\"${topic}\"\n\nالتزم بالأقسام التالية فقط:\n${sectionsText}\n\nاكتب بأسلوب أكاديمي رسمي بدون HTML أو Markdown.\n`;\n\nreturn {\n  userId,\n  prompt\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        0
      ],
      "id": "ccb90c32-1610-41c2-bf35-aef3c4dc6320",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3104,
        0
      ],
      "id": "0a9d1132-106f-4f6d-9824-d04240c6cb3c",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Handle different response structures from AIML API\n// Sometimes usage is at $json.usage, sometimes at response level\nconst response = $json;\nconst usage = response.usage || response.data?.usage || {};\n\n// Extract token counts with fallbacks\nconst inputTokens = usage.prompt_tokens || 0;\nconst outputTokens = usage.completion_tokens || 0;\nconst totalTokens = usage.total_tokens || (inputTokens + outputTokens);\n\n// Pricing for GPT-5-nano (AIML API)\nconst INPUT_PRICE_PER_1M = 0.105;\nconst OUTPUT_PRICE_PER_1M = 0.42;\nconst USD_TO_SAR = 3.75;\nconst MARKUP = 2;\n\n// Calculate costs\nconst inputCostUSD = (inputTokens / 1_000_000) * INPUT_PRICE_PER_1M;\nconst outputCostUSD = (outputTokens / 1_000_000) * OUTPUT_PRICE_PER_1M;\nconst totalCostUSD = inputCostUSD + outputCostUSD;\nconst finalCostSAR = totalCostUSD * USD_TO_SAR * MARKUP;\n\nif (finalCostSAR <= 0) {\n  throw new Error(\"Invalid cost calculation\");\n}\n\n// Extract text content\nconst text = response.choices?.[0]?.message?.content || response.text || '';\n\nif (!text) {\n  throw new Error('No text content found in API response');\n}\n\nreturn {\n  userId: $node[\"Build Prompt\"].json.userId, // Explicitly pass userId\n  text: text,\n  billing: {\n    promptTokens: inputTokens,\n    completionTokens: outputTokens,\n    totalTokens,\n    inputCostUSD,\n    outputCostUSD,\n    totalCostUSD,\n    finalCostSAR,\n    currency: \"SAR\",\n    markup: MARKUP\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        0
      ],
      "id": "c0692628-23f4-4207-b682-64342082eca0",
      "name": "Calculate Cost"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.aimlapi.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 24846e8f3bce499aaf46ae76bb75f388"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.requestBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        0
      ],
      "id": "00efe318-8f60-4d96-ab77-9b9f0b3f7f3a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const prompt = $input.item.json.prompt;\n\nreturn {\n  json: {\n    requestBody: JSON.stringify({\n      model: \"openai/gpt-5-nano-2025-08-07\",\n      messages: [{\n        role: \"user\",\n        content: prompt\n      }],\n      temperature: 0.7,\n      max_tokens: 8000  // ← Changed from 2000 to 8000!\n    })\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        0
      ],
      "id": "a1e0df13-7c74-4fab-a404-85358eb7eb43",
      "name": "Prepare Request Body"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  success: true,\n  data: {\n    text: $json.text,\n    billing: $json.billing\n  },\n  balance: {\n    before: $json.balance,\n    after: $json.balance - $json.billing.finalCostSAR,\n    currency: \"SAR\"\n  },\n  meta: {\n    generatedAt: new Date().toISOString(),\n    model: \"gpt-4.1-nano\",\n    language: \"ar\",\n    tokensUsed: $json.billing.totalTokens\n  }\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        0
      ],
      "id": "c608286f-8636-41ac-9596-8d17fe161743",
      "name": "Format Response"
    },
    {
      "parameters": {
        "url": "=https://firebase-api-alpha.vercel.app/api/user/{{$node[\"Calculate Cost\"].json.userId}}/balance",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2288,
        0
      ],
      "id": "22554da8-85b1-40ec-8d69-7914eb4c6bea",
      "name": "Get User Balance"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Firebase API response\nconst balance = $json.balance;\n\n// Data from Calculate Cost node\nconst research = $node[\"Calculate Cost\"].json;\nconst cost = research.billing.finalCostSAR;\n\nif (balance < cost) {\n  throw new Error(\n    `Insufficient balance: ${balance} SAR < ${cost.toFixed(3)} SAR`\n  );\n}\n\nreturn {\n  ...research,\n  balance\n};\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        0
      ],
      "id": "a047fcc4-2108-483f-a16d-84cbd8daac94",
      "name": "Check Balance"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://firebase-api-alpha.vercel.app/api/user/{{$json.userId}}/deduct-balance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "={\n  \"amount\": {{ Number($json.billing.finalCostSAR.toFixed(6)) }}\n}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2704,
        0
      ],
      "id": "7004aeb9-1146-497d-a029-196d23c94f9b",
      "name": "Deduct Balance"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Prepare Request Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Cost": {
      "main": [
        [
          {
            "node": "Get User Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Calculate Cost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request Body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Balance": {
      "main": [
        [
          {
            "node": "Check Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Balance": {
      "main": [
        [
          {
            "node": "Deduct Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deduct Balance": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "0ba1f990-4cd4-40d6-8dc0-73be214c75d1",
  "meta": {
    "instanceId": "7ba9cf0b4c17a1ada11373db326a59f871a3ee85280bffd3ce36c5534c0053f2"
  },
  "id": "77Tcm7CoxjUsuCMV",
  "tags": []
}